In [107]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [138]:
api_key = "4993d963bc4cad9a9686b6dbf2ed08a8"
start_date = "2015-01-01"
end_date = "2015-12-31"


forex_query = f"https://api.metalpriceapi.com/v1/timeframe?api_key={api_key}&start_date={start_date}&end_date={end_date}&base=USD&currencies=MYR"
gold_query = f"https://api.metalpriceapi.com/v1/timeframe?api_key={api_key}&start_date={start_date}&end_date={end_date}&base=USD&currencies=XAU"
silver_query = f"https://api.metalpriceapi.com/v1/timeframe?api_key={api_key}&start_date={start_date}&end_date={end_date}&base=USD&currencies=XAG"


forex_record = requests.get(forex_query)
gold_record = requests.get(gold_query)
silver_record = requests.get(silver_query)
silver_record

In [139]:
forex_json = forex_record.json()
gold_json = gold_record.json()
silver_json = silver_record.json()

dates = list(forex_json["rates"].keys())
forex_rates = [forex_json["rates"][val]["MYR"] for val in dates]
gold_rates = [gold_json["rates"][val]["USDXAU"] for val in dates]
silver_rates = [silver_json["rates"][val]["USDXAG"] for val in dates]

historical_df = pd.DataFrame(list(zip(dates, forex_rates, gold_rates, silver_rates)), 
                             columns=["date", "usd_to_myr", "gold_troy_oz_usd", "silver_troy_oz_usd"])
historical_df

           date  usd_to_myr  gold_troy_oz_usd  silver_troy_oz_usd
0    2015-01-01    3.508787       1184.726465           15.681290
1    2015-01-02    3.515413       1186.854726           15.711334
2    2015-01-03    3.524306       1189.244473           15.740150
3    2015-01-04    3.528546       1189.336410           15.759182
4    2015-01-05    3.535880       1206.407575           16.171685
..          ...         ...               ...                 ...
360  2015-12-27    4.289410       1075.557946           14.376698
361  2015-12-28    4.295020       1066.188987           13.911361
362  2015-12-29    4.286766       1066.365203           13.942458
363  2015-12-30    4.296231       1062.220019           13.856168
364  2015-12-31    4.296848       1061.538436           13.849643

[365 rows x 4 columns]

In [140]:
historical_df.to_csv("precious_metal_2015.csv", index=False)

In [144]:

for year in range(2015, 2024):

    if year==2015:
        precious_metal = pd.read_csv(f"precious_metal_{year}.csv")
    
    else:
        temp_df = pd.read_csv(f"precious_metal_{year}.csv")
        precious_metal = pd.concat([precious_metal, temp_df], axis=0)

precious_metal

           date  usd_to_myr  gold_troy_oz_usd  silver_troy_oz_usd
0    2015-01-01    3.508787       1184.726465           15.681290
1    2015-01-02    3.515413       1186.854726           15.711334
2    2015-01-03    3.524306       1189.244473           15.740150
3    2015-01-04    3.528546       1189.336410           15.759182
4    2015-01-05    3.535880       1206.407575           16.171685
..          ...         ...               ...                 ...
360  2023-12-27    4.632980       2066.654997           24.282497
361  2023-12-28    4.613011       2081.855216           24.362497
362  2023-12-29    4.587497       2069.150171           23.894862
363  2023-12-30    4.595039       2062.712653           23.792643
364  2023-12-31    4.595039       2062.694357           23.781217

[3287 rows x 4 columns]

In [145]:
precious_metal.to_csv("precious_metal_all.csv", index=False)